<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.japs.demo.provider"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceRegistry" class="com.japs.registry.impl.consul.ConsulServiceRegistry">
        <constructor-arg name="consulAddress" value="${rpc.registry_address}"/>
    </bean>

    <!--<bean id="serviceRegistry" class="com.japs.registry.impl.zookeeper.ZookeeperServiceRegistry">
        <constructor-arg name="zookeeperAddress" value="${rpc.registry.address}"/>
    </bean>-->

    <bean id="RpcServer" class="com.japs.server.RpcServer">
        <constructor-arg name="serverIp" value="${rpc.server.ip}"/>
        <constructor-arg name="serverPort" value="${rpc.server.port}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>