<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.japs.demo.provider"/>

    <!--<bean id="serviceRegistry" class="com.japs.registry.impl.consul.ConsulServiceRegistry">
        <constructor-arg name="consulAddress" value="127.0.0.1:8500"/>
    </bean>-->

    <!--<bean id="serviceRegistry" class="com.japs.registry.impl.zookeeper.ZookeeperServiceRegistry">
        <constructor-arg name="zookeeperAddress" value="127.0.0.1:2181"/>
    </bean>-->

    <bean id="serviceRegistry" class="com.japs.registry.impl.nacos.NacosServiceRegistry">
        <property name="serverAddress" value="172.21.31.3:8848"/>
    </bean>

    <bean id="rpcServer" class="com.japs.server.RpcServer">
        <constructor-arg name="serverIp" value="127.0.0.1"/>
        <constructor-arg name="serverPort" value="8088"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>